/* #region utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar: #000000;
    --back: #141922;
    --footer: #252525;
    --font: #606060;
    --details: #ADFF2F;
    --white: #ffffff;
    --banner: #080B12;

}

.viewport {
    height: calc(100vh - 80px);
    display: flex;
}

.container {
    max-width: 90%;
    margin: auto;
}

.container_slim {
    max-width: 80%;
    margin: auto;
}

.container-flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-12 {
    width: calc((100% / 12) * 12);
}

.fs-12 {
    font-size: 12px;
    color: white;
}

.padding {
    padding: 1rem;
}

/* #endregion utilities */


/* #region debug */

.debug .content {
    background-color: var(--back);
}

.debug .icons {
    background-color: #606060;
    width: 60px;
    height: 100px;
    margin-top: 0.5rem;
}

.debug .icon_text {
    background-color: #505050;
    width: 100%;
    height: 100px;
    margin-top: 0.5rem;
}

.debug .playlist {
    background-color: #505050;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
}

.debug .user {
    background-color: #505050;
    width: 100%;
    height: 90px;
    margin-top: 5rem;
}

.debug .control-left {
    background-color: #505050;
    width: 200px;
    height: 50px;
    margin-left: 1.2rem;
}

/* .debug .player {
    background-color: #505050;
    width: 350px;
    height: 50px;
} */

.debug .control-right {
    background-color: #505050;
    width: 200px;
    height: 50px;
    margin-right: 1.2rem;
}

.debug .menu_content {
    background-color: #505050;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.debug .block {
    background-color: #505050;
    width: 100%;
    height: 150px;
}

.debug .round {
    background-color: #505050;
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.debug h2 {
    color: white;
}

/* #endregion debug */


/* #region sidebar */

.sidebar {
    height: 100%;
    width: 15vw;
    background-color: var(--sidebar);
}

.logo {
    width: 100px;
    margin-top: 0.5rem;
}

.menu {
    display: flex;
}

/* #endregion sidebar */


/* #region content */

.content {
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.menu_content a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.banner {
    background-color: var(--banner);
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn_upgrade {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 0.3rem 3rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

/* #endregion content */


/* #region down_menu */

.menu_control {
    background-color: var(--footer);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-bar {
    display: flex;
    align-items: center;
}

.player-bar .bar {
    width: 350px;
    height: 5px;
    background-color: black;
    border-radius: 1rem;
    margin: 0 1rem;
}

.player-bar .bar .bar-wh {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 1rem;
}

.player_icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    margin: 0.5rem;
}

.fa-play {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;

}

/* #endregion down_menu */


/* #region media */

@media screen and (max-width: 1100px) {

    .col-2 {
        width: calc((100% / 12) * 3);
    }
}

@media screen and (max-width: 820px) {

    .col-2 {
        width: calc((100% / 12) * 4);
    }
}



/* #endregion media */

