/* #region utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar: #000000;
    -back: #141922;
    --footer: #282828;
    --font: #606060;
    --details: #ADFF2F;
    --white: #ffffff;
}

.viewport {
    height: calc(100vh - 100px);
    display: flex;
}

.container {
    max-width: 90%;
    margin: auto;
}

.container_slim {
    max-width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.player {
    background-color: var(--footer);
    width: 100%;
    height: 100px;
}

.sidebar {
    height: 100%;
    width: 15vw;
    background-color: var(--sidebar);
}

.content {
    height: 100%;
    width: 100%;
}


/* #endregion utilities */


/* #region debug */

.debug .content {
    background-color: blue;
}

.debug .icons {
    background-color: #606060;
    width: 60px;
    height: 100px;
    margin-top: 0.5rem;
}

.debug .icon_text {
    background-color: #505050;
    width: 100%;
    height: 100px;
    margin-top: 0.5rem;
}


/* #endregion debug */


/* #region sidebar */

.logo {
    width: 100px;
    margin-top: 0.5rem;
}

.menu {
    display: flex;
}

/* #endregion sidebar */
